from fabric import Connection, task

@task
def deploy(c):
    with Connection('root@x.x.x.x') as c:
        c.run("rm -rf iumrs-conference")
        c.run("git clone https://github.com/bydmm/iumrs-conference.git", pty=True)
        c.put("docker-compose.yml", "iumrs-conference/docker-compose.yml")
        c.run("cd iumrs-conference && docker-compose build && docker-compose rm -fsv && docker-compose up --build -d", pty=True)
        c.run("sleep 15 && docker logs -f iumrs-api")

# doc http://docs.fabfile.org/en/2.5/getting-started.html
# apt install python-pip
# pip install fabric -i http://mirrors.aliyun.com/pypi/simple/
# fab deploy